<%- include('partials/head') %>
    <%- include('partials/nav') %>

        <h1>APIE MANE</h1>

        <%- include('partials/name') %>
            <%- include('partials/age') %>
                <%- include('partials/email') %>


                    </body>

                    </html>